@import './_breakpoints';

@mixin TopCornerPlacement() {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;

  @media only screen and (max-width : $mobile-breakpoint) {
    right: 10px;
    top: 10px;

    img {
      width: 80%;
    }
  }

}
