@import '../../assets/partials/_animations';
@import '../../assets/partials/_breakpoints';

.CollabHeader {
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width : $mobile-breakpoint) {
    top: 2%;
    left: 10%;
    transform: none;

    .collabheader-img {
      width: 70%;
    }

  }

}
