@import '../../assets/partials/_animations';
@import '../../assets/partials/_breakpoints';

.MenuIcon {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;

  @media only screen and (max-width : $mobile-breakpoint) {

    right: 10px;
    top: 10px;

    .menuicon-img {
      width: 80%;

    }
  }
}
