.Archive {
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;

  .header {
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .subheader {
    font-weight: 400;
  }
}
