@import '../../assets/partials/_animations';
@import '../../assets/partials/_breakpoints';

.Slide2 {

  .left-side {
   background-image: url("../../assets/images/Slide2-img.png");
   background-repeat:no-repeat;
   height:100vh;
   width: 50%;
   background-size: cover;
   float:left;
   animation-duration: .5s;
   animation-name: slideinLeft;
  }

  .right-side {
    float:right;
    margin-top: 200px;
    font-size: 36px;
    animation-duration: .5s;
    animation-name: slideinRight;

    .text-container {

      position: relative;
      top: 100px;
      right: 250px;
      width: 500px;

      .header {
        letter-spacing: 15px;
        font-weight: 400;
        text-transform: uppercase;
      }

      .subheader {
        margin-top: 40px;
      }

      .subcopy {
        font-size: 14px;
      }

    }

  }

  @media only screen and (max-width : $mobile-breakpoint) {

    .left-side {
      animation-name: none;
    }

    .right-side {
      animation-name: none;
    }
    animation-duration: .5s;
    animation-name: slideinAll;
  }

}
